@use '@/styles/util' as u;
@use "sass:color";
@use "sass:map";

$textLight: u.$color-neutral-50;
$textDark: u.$color-neutral-950;

$colors: (
  "red": hsl(0, 52%, 56%),
  "green": u.$color-secondary-400,
  "blue": u.$color-primary-500,
  "yellow": hsl(43, 95%, 52%),
  "light": hsl(214, 6%, 13%),
  "dark": hsl(214, 12%, 92%),
);

$size: (
  "sm": 10px,
  "md": 16px,
  "lg": 20px,
);

@each $name, $value in $colors{
  .color-#{$name}{
    --bg-color: #{$value};
    --bg-hover: #{color.adjust($value, $lightness: -8%)};
  }
}

@each $name, $value in $size{
  .sz-#{$name}{
    --btn-size: #{$value};
  }
}

@mixin setColor($value){
  &{ color: $value; }
  svg{ fill: $value; }
}

@mixin btn-base{
  justify-content: center;
  align-items: center;
  font-size: var(--btn-size);
  white-space: nowrap;
  gap: 0.5em;
  padding: 0.625em 1em;
  height: fit-content;
  line-height: 1.25;

  &:disabled{
    cursor: not-allowed;
  }
  svg{
    height: var(--btn-size);
    width: var(--btn-size);
  }

  &.iconOnly{
    padding: 0.75em;
  }
}

.corner-curved{
  border-radius: 6px;
}
.corner-rounded{
  border-radius: 1.25em;
}

// solid
.btn-primary{
  @include btn-base;
  @include setColor(var(--color-text-inv));
  background-color: var(--bg-color);

  &:disabled{
    opacity: 0.8;
  }
  &:hover:not(:disabled){
    background-color: var(--bg-hover);
  }
  &.color-dark{
    @include setColor($textDark);
  }
}
// outline
.btn-secondary{
  @include btn-base;
  @include setColor(var(--color-text));
  box-shadow: inset 0 0 0 1px var(--bg-color);
  
  &:disabled{
    opacity: 0.8;
  }
  &:hover:not(:disabled){
    background-color: var(--bg-hover);
    box-shadow: inset 0 0 0 1px var(--bg-hover);
    @include setColor($textLight);

    &.color-dark{
      @include setColor($textDark);
    }
  }
  &.color-dark{
    @include setColor($textLight);
  }
}
// link
.btn-tertiary{
  @include btn-base;
  @include setColor(var(--color-text));
  
  &:disabled{
    opacity: 0.8;
  }
  &:hover:not(:disabled){
    text-decoration: underline;
  }
  &.color-dark{
    @include setColor($textLight);
  }
}